@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #191414;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
